<!-- <button class="modal-open">Open Modal</button> -->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    <div class="modal-content py-4 text-left px-6">
      <div class="flex justify-between items-center pb-3">
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <div class="modal-close cursor-pointer z-50">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">Eliminar cuenta</h3>
          </div>
          <div class="mt-2">
            <p class="text-sm text-gray-500">¿Estás seguro de que deseas eliminar tu cuenta? Todos sus datos se eliminarán de forma permanente. Esta acción no se puede deshacer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
      <%= link_to "Eliminar cuenta", registration_path(resource_name), method: :delete, class:"w-full inline-flex justify-center rounded border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm" %>
      <button type="button" class="modal-close mt-3 w-full inline-flex justify-center rounded border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
    </div>
  </div>
</div>
