<%= simple_form_for(@post) do |f| %>
  <div class="form-inputs">
    <%= f.text_field :titulo,
                     class:"rounded w-full h-8 text-gray-600 focus:outline-none",
                     placeholder:"Titulo de la publicación.",
                     autofocus: true %>
    <textarea name="post[descripcion]" placeholder="¿Que estas pensando?" class="mt-3 p-1 rounded w-full h-56 text-gray-600 focus:outline-none" id="post[descripcion]"></textarea>
    <%# f.text_area  :descripcion,
      #              rows:"3",
      #              class:"mt-3 p-1 rounded w-full h-56 text-gray-600 focus:outline-none",
      #              placeholder:"¿Que estas pensando?"%>
  </div>
  <div class="form-actions w-20 ml-auto mt-4">
    <%= f.button :submit, "Publicar", class:"cursor-pointer rounded py-1 px-3 text-gray-200 bg-gray-800"  %>
  </div>
<% end %>
